# Env
NODE_ENV=development

# App
PORT=8080
BASE_URL=http://localhost:8080

# Allowed Origins and Headers
ALLOWED_ORIGINS=https://yourdomine.com,https://www.yourdomine.com
ALLOWED_HEADERS=Content-Type,Authorization

# Auth
BCRYPT_SALT_ROUNDS=10
JWT_SECRET=supersecret_jwt_key
JWT_ACCESS_TOKEN_EXPIRES_IN=3600
JWT_REFRESH_TOKEN_EXPIRES_IN=604800

# MongoDB Atlas connection string
# Replace <username>, <password> and cluster info with your actual data
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/?retryWrites=true&w=majority

# Name of each logical database
MONGO_DB_PORTFOLIO=portfolio
MONGO_DB_AUTH=auth-db

# Files Storage
STORAGE_PROVIDER=local
# Options: 'local', 'cloudinary', 's3'

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# AI Module
AI_PROVIDER=mock
# Options: 'mock', 'ollama', 'openai'
AI_MODEL=your_ai_model
AI_API_KEY=your_ai_api_key

# Ollama
OLLAMA_BASE_URL=http://localhost:11434/v1